<launch>
    <param name="/use_sim_time" value="false" />
    <rosparam file="$(find suitbot_ros)/config/suitbot.yaml" />

    <arg name="use_rviz"  default="true"/> 

    <arg name="manual_control"        default="false"/> 
    <param name="manual_control"      type="bool"   value="$(arg manual_control)"/>

    <arg name="debug_odometry"        default="false"/> 
    <param name="debug_odometry"      type="bool"   value="$(arg debug_odometry)"/>
    <arg name="debug_time"            default="1.0"/> 
    <param name="debug_time"          type="double"   value="$(arg debug_time)"/>

        <arg name="debug_linear"          default="0.5"/> 
        <param name="debug_linear"        type="double"   value="$(arg debug_linear)"/>
        <arg name="debug_angular"         default="0.0"/> 
        <param name="debug_angular"              type="double"   value="$(arg debug_angular)"/>

    <arg name="use_guess"            default="true"/> 
    <param name="use_guess"           type="bool"   value="$(arg use_guess)"/>
    
        <arg name="init_x"                default="51.75"/> 
        <param name="init_x"              type="double"   value="$(arg init_x)"/>
        <arg name="init_y"                default="45.75"/> 
        <param name="init_y"              type="double"   value="$(arg init_y)"/>
        <arg name="init_theta"            default="1.57"/> 
        <param name="init_theta"          type="double"   value="$(arg init_theta)"/>

    <arg name="use_audio"             default="true"/> 
    <param name="use_audio"           type="bool"   value="$(arg use_audio)"/>
    <arg name="course_idx"            default="0"/> 
    <param name="course_idx"          type="int"   value="$(arg course_idx)"/>

    <arg name="use_serial"            default="true"/> 
    <param name="use_serial"           type="bool"   value="$(arg use_serial)"/>

    

    <param name="map_file" value="$(find suitbot_ros)/data/wean_map_good_grid_edited_filled.png"/>
    <param name="pcd_file" value="$(find suitbot_ros)/data/wean_map_good_processed_aligned.pcd"/>
    <param name="model_path" value="$(find suitbot_ros)/scripts/audio/vosk-model-small-en-us-0.15"/>

    <node name="job_management" pkg="suitbot_ros" type="job_management" output="screen"/>

    <group if="$(arg use_audio)">
        <node name="audio_listener" pkg="suitbot_ros" type="audio_listener.py" output="screen"/>
        <node name="audio_speaker" pkg="suitbot_ros" type="audio_speaker.py" output="screen"/>
    </group>
    

    <group if="$(arg use_serial)">
        <node name="embedded_device_driver" pkg="suitbot_ros" type="embedded_device_driver.py" output="screen"/>
        <node name="tracking_simulator" pkg="suitbot_ros" type="tracking_simulator.py" output="screen"/>
        <node name="lidar_driver" pkg="suitbot_ros" type="lidar_driver.py" output="screen"/>
        <node name="lidar_parse" pkg="suitbot_ros" type="lidar_parse" output="screen"/>
    </group>

    <node name="planner_node" pkg="suitbot_ros" type="planner_node" output="screen"/>
    <node name="localization_node" pkg="suitbot_ros" type="localization_node" output="screen"/>

    <node name="worldtf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 world child_frame 1"/>

    <group if="$(arg use_rviz)">
        <!-- stuff that will only be evaluated if foo is true -->
        <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find suitbot_ros)/rviz/planner_rviz.rviz" />
    </group>
</launch>
